<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Prevent 403 directory listing errors and allow standard MIME types
Options -Indexes +FollowSymLinks
DirectoryIndex index.html
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
